<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>用户管理</title>
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/danweiguanli.css">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/page.css">
</head>
<body>
	<div class="wrap">
	<include file="Index:header" />
	<section class="content">
		<div class="main">
			<div class="search-options">
				<div class="title">用户管理</div>
			</div>
			<div class="search-list">
				<table width="100%" cellpadding="0" cellspacing="0">
					<tr>
						<th>序号</th>
						<th>姓名</th>
						<th>手机号</th>
						<th>邮箱</th>
						<th>微信</th>
						<th>QQ</th>
						<th>性别</th>
						<th>生日</th>
						<th>职业</th>
						<th>所属团队</th>
						<th>来源地</th>
						<th>注册时间</th>
						<th>操作</th>
					</tr>
					<volist name="list" id="vo" key='key'>
					<tr>
						<td>{$key}</td>
						<td>{$vo.name}</td>
						<td>{$vo.mobile}</td>
						<td>{$vo.email}</td>
						<td>{$vo.weixing}</td>
						<td>{$vo.qq}</td>
						<td>{$config['sex'][$vo['sex']]['value']}</td>
						<td>{$vo.birth}</td>
						<td>{$work[$vo['work_id']]['name']}</td>
						<td>{$vo.team}</td>
						<td>{$config['from'][$vo['from_add']]['value']}</td>
						<td>{$vo.reg_time}</td>
						<td>
							<!-- <a href="#" class="pl5 pr5">测试报告</a> -->
							<if condition="$vo['status'] == 9">
							<a href="{:U('User/recovery',array('id'=>$vo['user_id']))}" class="pl5 pr5">解禁</a>
							<else/>
							<a href="{:U('User/disable',array('id'=>$vo['user_id']))}" class="pl5 pr5">禁用</a>
							</if>

						</td>
					</tr>
					</volist>
				</table>
			</div>
		</div>
	</section>
	<!-- managerModal -->
	<div id="managerModal" class="modal fade">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        <h4 class="modal-title">张三</h4>
	      </div>
	      <div class="modal-body">
	        <div class="modal-body-content">
	        	<div>手机号：<span>13876546789</span></div>
	        	<div>生日：<span>1994-02-20</span></div>
	        	<div>邮箱：<span>Een.J.Wang@163.com</span></div>
	        	<div>企业：<span>阿里巴巴电子商务有限公司</span></div>
	        	<div>微信号<span>Alibaba</span></div>
	        	<div>单位：<span>Taobao.com</span></div>
	        	<div>QQ：<span>100013678</span></div>
	        	<div>来源地：<span>杭州市</span></div>
	        	<div>性别：<span>男</span></div>
	        </div>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	
	<!-- reportModal -->
	<div id="reportModal" class="modal fade">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        <h4 class="modal-title">成都不存在科技有限公司测试报告</h4>
	      </div>
	      <div class="modal-body">
	        <div class="modal-body-content">
	        	<div class="modal-body-content-list">
	        		<div class="img"><img src="" alt=""></div>
	        		<div class="content">
	        			<p>订单号：<span>WCGR18CT-20161018-0001</span></p>
	        			<h4>成都不存在科技有限公司 网测团体报告 2016-04-04</h4>
	        			<p><span>￥0.00</span>（<span>支付宝</span>）</p>
	        		</div>
	        		<div class="link">
	        			<a href="#">下载</a>
	        		</div>
	        	</div>
	        	<div class="modal-body-content-list">
	        		<div class="img"><img src="" alt=""></div>
	        		<div class="content">
	        			<p>订单号：<span>WCGR18CT-20161018-0001</span></p>
	        			<h4>成都不存在科技有限公司 网测团体报告 2016-04-04</h4>
	        			<p><span>￥0.00</span>（<span>支付宝</span>）</p>
	        		</div>
	        		<div class="link">
	        			<a href="#">下载</a>
	        		</div>
	        	</div>
	        	<div class="modal-body-content-list">
	        		<div class="img"><img src="" alt=""></div>
	        		<div class="content">
	        			<p>订单号：<span>WCGR18CT-20161018-0001</span></p>
	        			<h4>成都不存在科技有限公司 网测团体报告 2016-04-04</h4>
	        			<p><span>￥0.00</span>（<span>支付宝</span>）</p>
	        		</div>
	        		<div class="link">
	        			<a href="#">下载</a>
	        		</div>
	        	</div>
	        </div>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

	<!-- cancelModal -->
	<div id="cancelModal" class="modal fade">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-body">
	        <div class="modal-body-content">
	        	<h4 class="modal-body-content-title">确定删除该单位？</h4>
	        </div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">确定</button>
	        <button type="button" class="btn btn-primary">取消</button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	</div>
	<!-- script -->
	<script src="jquery.min.js"></script>
	<script src="modal.js"></script>
	<div class="pages">{$page}</div>
</body>
</html>