<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <title>五行财商研究中心</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/base.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/guanlishiti.css">
</head>
<body>
	
  <include file="Index:header" />
		<div class="content">
			<div class="content-main">
        
     
      
		</div>
	</div><div class="pages">{$page}</div>
</body>
</html>
