body{
	font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
/*backgroundColor*/
.bg-white{background-color: #fff;}

/*color*/
.grey{color: #999;}
.grey-deep{color: #333;}

/*font-size*/
.fz-14{font-size: 14px;}
.fz-20{font-size: 20px;}

/*font-weight*/
.fw-100{font-weight: 100;}
.fw-500{font-weight: 500;}


html,p,ul{margin: 0;padding: 0;}
li{list-style-type: none;}
input{border: none;outline: none;font: inherit;}

/**/
.wrap-content{width: 1200px;margin: 0 auto;}

/**/
.inline-block{display: inline-block;}
.oh{overflow: hidden;}
.distb{display: table;}
.distc{display: table-cell;}
.vat{vertical-align: top;}
.vam{vertical-align: middle;}
.cur-pointer{cursor: pointer;}

/*float*/
.fl{float: left;}
.fr{float: right;}
.fl:after,
.fr:after{content: '.';display: block;width: 0;height: 0;visibility: hidden;clear: both;}

/*margin*/
.ml5{margin-left: 5px;}
.ml10{margin-left: 10px;}

.mr5{margin-right: 5px;}
.mr10{margin-right: 10px;}

.mt10{margin-top: 10px;}
.mt40{margin-top: 40px;}

/*padding*/
.pl5{padding-left: 5px;}
.pl10{padding-left: 10px;}
.pl20{padding-left: 20px;}

.pr5{padding-right: 5px;}
.pr10{padding-right: 10px;}

.pt5{padding-top: 5px;}
.pt10{padding-top: 10px;}
.pt20{padding-top: 20px;}
.pt30{padding-top: 30px;}

.pb10{padding-bottom: 10px;}
.pb20{padding-bottom: 20px;}
.pb30{padding-bottom: 30px;}

/**/
.text-in-10{text-indent: 10px;}

/*color*/
.fff{color: #fff;}
.c999{color: #999;}

/**/
.opacity-50{opacity: 0.5;}
.opacity-60{opacity: 0.6;}

/*font-size*/
.fz14{font-size: 14px;}
.fz18{font-size: 18px;}
.fz20{font-size: 20px;}
.fz24{font-size: 24px;}
.fz48{font-size: 48px;}


/*position*/
.psi-rel{position: relative;}
.psi-abs{position: absolute;}

/**/
.text-center{text-align: center;}
.cur-pointer:hover{cursor: pointer;}

/**/
.modal .mask{position: absolute;top: 0;right: 0;bottom: 0;left: 0;background: #fff;z-index: -1;}
.modal .model-content{background-color: #fff;opacity: 1;position: absolute;left: 50%;top: 40%;}
