<html>
    <body>
    <form action="/home/Index/login">
        <p><span>用户名：</span><input type="text" name="userName"></p>
        <p><span>密　码：</span><input type="password" name="password"></p>
        <p><span>验证码：</span><img src="/PmsFIQ/Index/verify" title="点击刷新" id="logincodeimg" onclick="reloadcode('logincodeimg')" align="absmiddle"/></p>
        <p><span>验证码：</span><input type="text" name="code"></p>
        <input type="submit" value="提交">
		<script>
		//刷新验证码
		function reloadcode(id)
		{
		 var yucodeurl = document.getElementById(id).src;
		 document.getElementById(id).src = yucodeurl +'?'+ Math.random();
		}
		</script>
    </form>
    </body>
</html>
