<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>注册</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/base.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/login.css">
</head>
<body>
	<div class="wrap"
>		<div class="bg-blue"></div>
		<div class="login-box">
			<div class="login-header">
				<img class="fl" src="__PUBLIC__/img/log_2.png" alt="logo">
				<div class="fl box-title">
					<h1 class="fz-20 fw-500 fff">西南财经大学五行财商研究中心</h1>
					<h3 class="fz-14 fw-100 fff">财商测评系统（v1.0）</h3>
				</div>
			</div>
			<div class="login-form">
				<div class="login-title"><span>找回密码</span></div>
				<div class="login-content">
					<form id="find_pwd_one">
						<div class="form-box">
							<input type="text" id="username" name="username" class="pwd text account" placeholder="请输入手机号/邮箱" style="width:360px;">
							<p class="error-tip"></p>
						</div>
						<div class="form-box">
							<input type="text" id="findpwd_verify" name="verify" placeholder="请输入验证码" style="width:150px;"> <img src="">
							<img src="/home/Index/verify" id="logincodeimg" onclick="reloadcode('logincodeimg')" align="absmiddle"/>
							<a href="#" onclick="reloadcode('logincodeimg')">刷新</a>
							<p id="findpwd_verify_err" class="error-tip"></p>
						</div>
						<div class="form-box">
							<input type="text" id="code" name="code" class="pwd text" placeholder="请输入手机/邮件验证码" style="width:250px;"><a href="#" id="send_msg">获取验证码</a>
							<p id="findpwd_code_err" class="error-tip"></p>
						</div>
					</form>
					<button class="btn-login" onclick="fdpasswd_submit()">下一步</button>
					<p class="step">
						<img src="__PUBLIC__/img/step_1.png" alt="" />
					</p>
				</div>
			</div>
		</div>
	</div>
</body>
<load href="__PUBLIC__/js/jquery-3.1.0.min.js" />
<script type="text/javascript">
	//验证码刷新
	function reloadcode(id)
	{
	 var yucodeurl = document.getElementById(id).src;
	 document.getElementById(id).src = yucodeurl +'?'+ Math.random();
	}
	//获取验证码
	$('#send_msg').click(function(){
		var url = "{:U('Index/sendMsgfindnpwd')}";
		var username=$("#username").val();
		var findpwd_verify=$("#findpwd_verify").val();
        if (username == ""){
            $("#username").next().text("请输入手机/邮箱号").css({'color':'red'}).show();
            $("#username").focus();
            return false;
        }else{
            $("#username").next().hide();
        }
        if (findpwd_verify == ""){
            $("#findpwd_verify_err").text("请输入图中的验证码").css({'color':'red'}).show();
            $("#findpwd_verify").focus();
            return false;
        }else{
            $("#findpwd_verify_err").hide();
        }
		$.ajax({
			type : "POST",
			data : {username:username,verify:findpwd_verify},
			url : url,
			success:function(msg){
				if (msg.staut == 'ok' || msg.staut == 'no') {
					alert(msg.info);
				} else {
					if(msg.mobile){
			            $("#username").next().text(msg.mobile).css({'color':'red'}).show();
			            $("#username").focus();
					}else{
			            $("#username").next().text(msg.email).css({'color':'red'}).show();
			            $("#username").focus();
					}
				}
			},
		})
	})
	//button数据提交
	function fdpasswd_submit(){
        var username=$("#username").val();
        var findpwd_verify=$("#findpwd_verify").val();
        var code=$("#code").val();
        var url = "{:U('Index/findpasswdsteptwo')}";
        var data = $('#find_pwd_one').serialize();
        if (username == ""){
            $("#username").next().text("请输入手机/邮箱号").css({'color':'red'}).show();
            $("#username").focus();
            return false;
        }else{
            $("#username").next().hide();
        }
        if (code == ""){
            $("#findpwd_code_err").text("请输入短信/邮箱验证码").css({'color':'red'}).show();
            $("#code").focus();
            return false;
        }else{
            $("#findpwd_code_err").hide();
        }
        //ajax 提交表单
		$.ajax({
			type : "POST",
			data : data,
			url : url,
			success:function(msg){
				if (msg.staut == 'ok') {
					//登陆成功
					window.location.href = msg.callback;
				}
				if (msg.staut == 'no') {
					alert(msg.info);
				}
				if(msg.mobile){
		            $("#username").next().text(msg.mobile).css({'color':'red'}).show();
		            $("#username").focus();
				}else{
		            $("#username").next().text(msg.email).css({'color':'red'}).show();
		            $("#username").focus();
				}
			}
		});
        return false;
    }
</script>
</html>
