<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <title>五行财商研究中心</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/base.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/home.css">
</head>
<body>
	<div class="wrap">
		<block name="include"><include file="Public:header" /></block>
		<div class="content">
			<div class="wrap-content distb">
				<div class="distc vat">
					<p class="opacity-50 fz24">欢迎来到</p>
					<p class="fz48 pt20 pb20">五行财商研究中心</p>
					<p class="fz18">专业/便捷/可靠</p>
					<ul class="home-list">
						<li>
							<div class="home-list-img"><img src="__PUBLIC__/img/img_wc.png"></div>
							<div class="home-list-option">
								<p class="fz20">网络自测</p>
								<p class="fz14 opacity-60">通过网络试题测试，获得初步测试报告</p>
							</div>
						</li>
						<li>
							<div class="home-list-img"><img src="__PUBLIC__/img/img_mc.png"></div>
							<div class="home-list-option">
								<p class="fz20">人工面测</p>
								<p class="fz14 opacity-60">专家面对面交谈，获得更专业的指导</p>
							</div>
						</li>
						<li>
							<div class="home-list-img"><img src="__PUBLIC__/img/img_xc.png"></div>
							<div class="home-list-option">
								<p class="fz20">行为测试</p>
								<p class="fz14 opacity-60">结合个人生活习惯，更详细了解自身财商</p>
							</div>
						</li>
					</ul>
				</div>
				<div class="distc">
					<img src="__PUBLIC__/img/wuxing.png">
				</div>
			</div>
		</div>
		<include file="Public:footer" />
	</div>
	<div class="register">
		
	</div>
</body>
</html>