<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <title>五行财商研究中心</title>
	<load href='__PUBLIC__/css/normalize.css' />
	<load href='__PUBLIC__/css/base.css' />
	<load href='__PUBLIC__/css/login.css' />
	<load href='__PUBLIC__/css/home.css' />
</head>
<body>
	<div class="wrap">
		<include file="Public:header" />
		<div class="content">
			<div class="wrap-content distb">
				<div class="distc vat">
					<p class="opacity-50 fz24">欢迎来到</p>
					<p class="fz48">五行财商研究中心</p>
					<p class="fz18">专业/便捷/可靠</p>
					<ul class="home-list">
						<li>
							<div class="home-list-img"><img src="__PUBLIC__/img/img_wc.png"></div>
							<div class="home-list-option">
								<p class="fz20">网络自测</p>
								<p class="fz14 opacity-60">通过网络试题测试，获得初步测试报告</p>
							</div>
						</li>
						<li>
							<div class="home-list-img"><img src="__PUBLIC__/img/img_mc.png"></div>
							<div class="home-list-option">
								<p class="fz20">人工面测</p>
								<p class="fz14 opacity-60">专家面对面交谈，获得更专业的指导</p>
							</div>
						</li>
						<li>
							<div class="home-list-img"><img src="__PUBLIC__/img/img_xc.png"></div>
							<div class="home-list-option">
								<p class="fz20">行为测试</p>
								<p class="fz14 opacity-60">结合个人生活习惯，更详细了解自身财商</p>
							</div>
						</li>
					</ul>
				</div>
				<div class="distc">
					<img src="__PUBLIC__/img/wuxing.png" style="margin-top:-20px;">
				</div>
			</div>
		</div>
		<include file="Public:footer" />
	</div>
<!-- Login Modal -->
<div class="modal login-modal">
	<div class="mask" bind="hide_modal">
		<div class="model-content">
			<div class="login-form">
				<div class="login-title"><span>用户登录</span></div>
				<div class="login-content">
					<form  id="login_form" method="post" name="login" class="login-form-box">
					<div class="form-box">
						<div class="form-box">
							<input id="login_username" type="text" name="username" class="account text" placeholder="请输入手机号/邮箱">
							<!-- <p style="display:none" id="login__username_err" class="error-tip"></p> -->
							<p id="login__username_err" class="error-tip"></p>
						</div>
					</div>
						<div class="form-box">
							<div class="form-box ">
							<input id="login_password" type="password" name="password" class="pwd text" placeholder="请输入密码">
<!-- 							<p style="display:none" id="login__password_err" class="error-tip"></p> -->
							<p id="login__password_err" class="error-tip"></p>
							</div>
						</div>
						<div class="form-box">
							<label><input type="checkbox" name="" class="vam"><span class="pl5 cur-pointer">五天内自动登录</span></label>
						</div>
						<div class="form-box">
							<div class="form-box ">
							<input id="login_verify" type="text" name="verify" placeholder="请输入验证码" style="width:150px;"> 
							<p id="login__verify_err" class="error-tip"></p>
							<img src="/home/Index/verify" id="logincodeimg" onclick="reloadcode('logincodeimg')" align="absmiddle"/> 
							<a href="#" onclick="reloadcode('logincodeimg')">刷新</a>
<!-- 							<p style="display:none" id="login__verify_err" class="error-tip"></p> -->
                            <script>
                            /**
                            *刷新验证码..
                            */
                            function reloadcode(id)
                            {
                             var yucodeurl = document.getElementById(id).src;
                             document.getElementById(id).src = yucodeurl +'?'+ Math.random();
                            }
                            </script>
                            </div>
						</div>
					<button class="btn-login" onclick="login_submit()">登录</button>
					</form>
					<div class="text-center login-help-link">
						<a href="{:U('Index/findpasswdstepone',array(),'',0,true)}" class="pl10 pr10">找回密码</a>|<a href="#" class="ml5 mr5 pl10 pr10 hover" bind="show_modal_register">注册账号</a>
					</div>
					<div class="error" style="float:left;position: relative;left: 25%;top: 10px;">
						<p id="login_error" style="display:none" class="error-tip"></p>
					</div>
					<script type="text/javascript">
						function login_submit(){
							$("#login_form").submit(function(){
						    var loginUsername=$("#login_username").val();
						    var loginPassword=$("#login_password").val();
						    var loginVerify=$("#login_verify").val();
						    if (loginUsername == "") {
						    	$("#login_username").next().text('请输入正确的11位手机号');
						    	$("#login_username").parent().addClass('error');
						    	$("#login__username").focus();
						    	return false;
						    }else{
						    	$("#login_username").next().text('');
						    	$("#login_username").parent().removeClass('error');
						    }
						    if (loginPassword == "") {
						    	$("#login_password").next().text("请输入密码");
						    	$("#login_password").parent().addClass('error');
						    	$("#login__password").focus();
						    	return false;
						    }else{
						    	$("#login_password").next().text('');
						    	$("#login_password").parent().removeClass('error');
						    }
						    if (loginVerify == "") {
						    	$("#login_verify").next().text("请输入验证码");
						    	$("#login_verify").parent().addClass('error');
						    	$("#login__verify").focus();
						    	return false;
						    }else{
						    	$("#login_verify").next().text('');
						    	$("#login_verify").parent().removeClass('error');
						    }
					    	var url = "{:U('Index/login')}";
							var data = $('#login_form').serialize();
							$.ajax({
								type : "POST",
								data : data,
								url : url,
								success:function(msg){
									//测试代码
									// alert(msg.length);
									// return;
									if (msg.info == 'ok') {
										//登陆成功
										window.location.href = msg.callback;
									} else {
										// var d=eval('('+d+')');//json转成object
										for (err_info in msg){
											switch(err_info){
												case "mobile":
						   						 	$("#login_username").next().text(msg.mobile);
						    						$("#login_username").parent().addClass('error');
						    						$("#login_verify").parent().removeClass('error');
											    	$("#login_username").focus();
					   						 		break;
					   						 	case "email":
						   						 	$("#login_username").next().text(msg.email);
						    						$("#login_username").parent().addClass('error');
						    						$("#login_verify").parent().removeClass('error');
											    	$("#login_username").focus();verify
					   						 		break;
					   						 	case "verify":
						   						 	$("#login_verify").next().text(msg.verify);
						    						$("#login_verify").parent().addClass('error');
						    						$("#login_username").parent().removeClass('error');
											    	$("#login_verify").focus();
					   						 		break;
					   						 	case "error":
						   						 	$("#login_username").next().text(msg.error);
						    						$("#login_username").parent().addClass('error');
						    						$("#login_verify").parent().removeClass('error');
											    	$("#login_username").focus();
					   						 	default:
					   						 		break;
											}
										}
									}
								},
							})
					    return false;
						})
					 }
					</script>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Register Modal -->
<div class="modal register-modal">
	<div class="mask" bind="hide_modal">
		<div class="model-content">
			<div class="login-form">
				<div class="login-title"><span>欢迎注册</span></div>
				<div class="login-content">
					<form id = "register_form" name="register" method="post" action="">
						<div class="form-box error">
							<input id="reg_username" name="username" type="text" class="account text" placeholder="请输入手机号/邮箱" style="width:360px;">
							<p style="display:none" id="reg_name_err" class="error-tip"></p>
						</div>
						<div >
							<div class="form-box">
								<input id="reg_verify" type="text" name="verify" placeholder="请输入验证码" style="width:150px;"> <img src=""> <a href="#" id="send_msg">发送验证码</a>
								<p style="display:none" id="reg__verify_err" class="error-tip"></p>
							</div>
						</div>
						<div class="form-box">
							<label><input type="radio" checked="true" name="register_property" value="1" class="pr10"><span class="pl5">个人</span></label>
							<label class="pl30"><input type="radio" name="register_property" value="2" class="pr10"><span class="pl5">团体</span></label>
						</div>
					<button class="btn-login" onclick="register_submit()"">注册并登录</button>
					</form>
<!-- 					<script>
						function register_submit(){
							$('register').submit();
						}
					</script> -->
					<script type="text/javascript">
					function register_submit(){
						$("#register_form").submit(function(){
						    var regUsername=$("#reg_username").val();
						    var regVerify=$("#reg_verify").val();
						    if (regUsername == "") {
						    	$("#reg_name_err").text("请输入邮箱或手机号");
						    	$("#reg_name_err").show();
						    	$("#reg_username").focus();
						    	return false;
						    }else {$("#reg_name_err").hide();}
						    if (regVerify == "") {
						    	$("#reg__verify_err").text("请输入验证码");
						    	$("#reg__verify_err").show();
						    	$("#reg_verify").focus();
						    	return false;
						    }else{
						    	$("#reg__verify_err").hide();
						    	var url = "{:U('Index/registerOne')}";
								var data = $('#register_form').serialize();
								$.ajax({
									type : "POST",
									data : data,
									url : url,
									success:function(msg){
										if (msg.info == 'ok') {
											//注册成功
											window.location.href = msg.callback;
										} else {
											// var d=eval('('+d+')');//json转成object
											if(msg.mobile){
												$("#reg_name_err").text(msg.mobile);
												$("#reg_name_err").show();
						    					$("#reg_username").focus();
											}else if (msg.email){
												$("#reg_name_err").text(msg.email);
												$("#reg_name_err").show();
						    					$("#reg_username").focus();
											}else{
												$("#reg__verify_err").text(msg.info);
												$("#reg__verify_err").show();
						    					$("#reg_verify").focus();
											}
										}
									},
								})
						    }
						    return false;
						})
					}
					//获取验证码
					$('#send_msg').click(function(){
						var url = "{:U('Index/sendMsg')}";
						var reg_username=$("#reg_username").val();
						$.ajax({
							type : "POST",
							data : {username:reg_username},
							url : url,
							success:function(msg){
								if (msg.staut == 'ok' || msg.staut == 'no') {
									alert(msg.info)
								} else {
									// alert(msg);return;
									// var d=eval('('+d+')');//json转成object
									if(msg.mobile){
										$("#reg_name_err").text(msg.mobile);
										$("#reg_name_err").show();
				    					$("#reg_username").focus();
									}else{
										$("#reg_name_err").text(msg.email);
										$("#reg_name_err").show();
				    					$("#reg_username").focus();
									}
								}
							},
						})
					})
					</script>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
	<load href="__PUBLIC__/Js/jquery-3.1.0.min.js" />
	<load href="__PUBLIC__/js/home.js" />
</html>
