<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <title>五行财商研究中心</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/base.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/home.css">
</head>
<body>
	<div class="wrap">
		<div class="header">
			<div class="wrap-content">
				<div class="wrap-header-content">
					<img class="inline-block" src="" alt="logo">
					<div class="inline-block">
						<h1 class="fz-20 fw-500 grey-deep">西南财经大学五行财商研究中心</h1>
						<h3 class="fz-14 fw-100 grey">财商测评系统（v1.0）</h3>
					</div>
					<div class="fr link">
						<a href="{:U('Exam/userExam')}" class="fz-14 pl10 pr10 grey-deep">测试我的财商</a>
						<if condition="$Think.session.user_id eq 0 ">
						<a href="{:U('Index/reg',array(),'',0,true)}" class="ml5 mr5 pl10 pr10 hover">注册</a>
						<a href="{:U('Index/log',array(),'',0,true)}" class="ml5 mr5 pl10 pr10 hover">登陆</a>
						<else/>
							{$Think.session.user_name}
							<a href="{:U('Index/logout')}" class="ml5 mr5 pl10 pr10 hover">退出</a>
						</if>
					</div>
				</div>
			</div>
		</div>
		<div class="content">
			<div class="wrap-content distb">
				<div class="distc vat">
					<p class="opacity-50 fz24">欢迎来到</p>
					<p class="fz48 pt20 pb20">五行财商研究中心</p>
					<p class="fz18">专业/便捷/可靠</p>
					<ul class="home-list">
						<li>
							<div class="home-list-img"><img src="__PUBLIC__/img/img_wc.png"></div>
							<div class="home-list-option">
								<p class="fz20">网络自测</p>
								<p class="fz14 opacity-60">通过网络试题测试，获得初步测试报告</p>
							</div>
						</li>
						<li>
							<div class="home-list-img"><img src="__PUBLIC__/img/img_mc.png"></div>
							<div class="home-list-option">
								<p class="fz20">人工面测</p>
								<p class="fz14 opacity-60">专家面对面交谈，获得更专业的指导</p>
							</div>
						</li>
						<li>
							<div class="home-list-img"><img src="__PUBLIC__/img/img_xc.png"></div>
							<div class="home-list-option">
								<p class="fz20">行为测试</p>
								<p class="fz14 opacity-60">结合个人生活习惯，更详细了解自身财商</p>
							</div>
						</li>
					</ul>
				</div>
				<div class="distc">
					<img src="__PUBLIC__/img/wuxing.png">
				</div>
			</div>
		</div>
		<div class="footer">
			<div class="wrap-content">
				<div class="wrap-content">
				<div class="wrap-header-content">
					<img class="inline-block vam" src="__PUBLIC__/img/erweima.png" alt="logo">
					<div class="inline-block vam">
						<P class="fz-14 fw-500 grey-deep">成都财情科技有限公司 版权所有</P>
						<P class="fz-14 fw-100 grey">电话02887095141</P>
						<P class="fz-14 fw-100 grey">微信号：成都财情（FQEQTECH）</P>
					</div>
					<div class="fr link vam">
						<a href="#" class="fz-14 pl10 pr10 c999">蜀ICP备1201424号|工商注册号510109000090786</a>
					</div>
				</div>
			</div>
			</div>
		</div>
	</div>
	<div class="register">
		
	</div>
</body>
</html>