<html>

    <!-- Piwik -->
    <script type="text/javascript">
      var _paq = _paq || [];
      _paq.push(["setDomains", ["*.www.past123.com"]]);
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//piwik.past123.com/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', 1]);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <noscript><p><img src="//piwik.past123.com/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
    <!-- End Piwik Code -->

    <noscript><p><img src="//piwik.past123.com/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
    <!-- End Piwik Code -->
    <body>
        <form action="/home/Index/login" method="post">
        <p><span>用户名：</span><input type="text" name="userName"></p>
        <p><span>密　码：</span><input type="password" name="password"></p>
        <p><span>验证码：</span><img src="/home/Index/verify" title="点击刷新" id="logincodeimg" onclick="reloadcode('logincodeimg')"align="absmiddle"/></p>
        <p><span>验证码：</span><input type="text" name="code"></p>
        <input type="submit" value="提交">
		<script>
		/**
        *刷新验证码
        */
		function reloadcode(id)
		{
		 var yucodeurl = document.getElementById(id).src;
		 document.getElementById(id).src = yucodeurl +'?'+ Math.random();
		}
		</script>
    </form>
    </body>
</html>
