<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <title>五行财商研究中心</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/base.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/info.css">
</head>
<body>
	<div class="wrap">
	<include file="Public:header" />
		<div class="content">
			<div class="content-main">
				<div class="content-main-nav">
					<div class="ml5 mr5">
						<p>账号设置</p>
						<ul>
							<li><a href="{:U('User/personal_info')}">个人信息</a></li>
							<li class="current"><a href="{:U('User/account_bind')}">账号绑定</a></li>
							<li><a href="{:U('User/change_pwd')}">修改密码</a></li>
							<li><a href="{:U('User/test_record')}">测试记录</a></li>
						</ul>
					</div>
				</div>
				<div class="content-main-form">
					<div class="content-main-form-title">
						<p class="fz20">绑定账号</p>
					</div>
					<div class="content-main-form-info">
						<!-- 手机号码绑定、解绑 -->
						<div>
							<span class="item bind-phone">手机号：</span>
							<!-- 存在判断 -->
                       		<if condition="$user.mobile eq null">
								<span>
									<input type="text" id="bindMobile" name="bindMobile" class="ver-info" placeholder="请输入手机号码">
									<a href="#" id="sendMobileMsg" class="unbind" >手机绑定</a>
								</span>
							<else/>
								<span>
									<span id="mobile" name="mobile" value="{$user.mobile}">{$user.mobile}</span>
									<span class="pl20 pr20 grey"></span>
									<a href="#" id="unbindMobile" class="unbind">解除绑定</a>
								</span>
							</if>
						</div>
						<div class="show">
							<div class="ver-info-box">
								<span class="item">短信验证：</span>
								<input type="text" id="bindMobileVerify" name="bindMobileVerify" value="" class="ver-info" placeholder="请输入短信验证码">
							</div>
							<button onclick="bindMobileSubmit()" class="confirm-bind">确认绑定</button>
						</div>
						<!-- 手机号码绑定、解绑 -->
						<!-- 邮箱绑定、解绑 -->
						<div>
							<span class="item bind-email">邮箱：</span>
							<!-- 存在判断 -->
                       		<if condition="$user.email eq null">
								<span>
<!-- 									<span class="pl20 pr20 grey"></span> -->
									<span></span>
									<input type="text" id="bindEmail" name="bindEmail" value="" class="ver-info" placeholder="请输入您的邮箱">
									<a href="#" id="bindEmailMsg" class="unbind">邮箱绑定</a>
								</span>
							<else/>
								<span>
									<span id="email" name="email" value="{$user.email}" >{$user.email}</span>
									<span class="pl20 pr20 grey"></span>
									<a href="#" id="unbindEmail" class="unbind">解除绑定</a>
								</span>
							</if>
						</div>
						<div class="show">
							<div class="ver-info-box">
								<span class="item">邮箱验证：</span>
								<input type="text" id="bindEmailVerify" name="bindEmailVerify" value="" class="ver-info" placeholder="请输入邮件验证码">
							</div>
							<button onclick="bindEmailSubmit()" class="confirm-bind">确认绑定</button>
						</div>
						<!-- 邮箱绑定、解绑 -->
					</div>
				</div>
			</div>
		</div>
		<include file="Public:footer" />
	</div>
</body>
<script type="text/javascript" language="javascript" src="__PUBLIC__/js/jquery/jquery-1.9.1.min.js"></script>
<script type="text/javascript">
	//手机解绑
	$('#unbindMobile').click(function(){
		email = $("#email").html();
		mobile = $("#mobile").html();
		if (!email) {
			alert("至少要绑定一个手机 或 邮箱账户！");
		}
		alert("xxxx");
	})
	//获取验短信证码
	$('#sendMobileMsg').click(function(){
		var url = "{:U('User/sendMobileMsg')}";
		var bindMobile=$("#bindMobile").val();
        if (username == ""){
            $("#username").next().text("请输入手机/邮箱号").css({'color':'red'}).show();
            $("#username").focus();
            return false;
        }else{
            $("#username").next().hide();
        }
        if (findpwd_verify == ""){
            $("#findpwd_verify_err").text("请输入图中的验证码").css({'color':'red'}).show();
            $("#findpwd_verify").focus();
            return false;
        }else{
            $("#findpwd_verify_err").hide();
        }
		$.ajax({
			type : "POST",
			data : {username:username,verify:findpwd_verify},
			url : url,
			success:function(msg){
				if (msg.staut == 'ok' || msg.staut == 'no') {
					alert(msg.info);
				} else {
					if(msg.mobile){
			            $("#username").next().text(msg.mobile).css({'color':'red'}).show();
			            $("#username").focus();
					}else{
			            $("#username").next().text(msg.email).css({'color':'red'}).show();
			            $("#username").focus();
					}
				}
			},
		})
	})
</script>
</html>
