<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <title>五行财商研究中心</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/base.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/info.css">
</head>
<body>
	<div class="wrap">
	<include file="Public:header" />
		<div class="content">
			<div class="content-main">
				<div class="content-main-nav">
					<div class="ml5 mr5">
						<p>账号设置</p>
						<ul>
							<li><a href="{:U('User/personal_info')}">个人信息</a></li>
							<li class="current"><a href="{:U('User/account_bind')}">账号绑定</a></li>
							<li><a href="{:U('User/change_pwd')}">修改密码</a></li>
							<li><a href="{:U('User/test_record')}">测试记录</a></li>
						</ul>
					</div>
				</div>
				<div class="content-main-form">
					<div class="content-main-form-title">
						<p class="fz20">绑定账号</p>
					</div>
					<div class="content-main-form-info">
						<!-- 手机号码绑定、解绑 -->
						<div>
							<span class="item bind-phone">手机号：</span>
							<!-- 存在判断 -->
                       		<if condition="$user.mobile eq null">
								<span>
									<input type="text" id="bindMobile" name="bindMobile" class="ver-info" placeholder="请输入手机号码">
									<a href="#" id="sendMobileMsg" class="unbind" >获取手机验证码</a>
<!-- 									<p class="grey tip-grey">&nbsp;</p> -->
								</span>
							<else/>
								<span>
									<span id="mobile" name="mobile" value="{$user.mobile}">{$user.mobile}</span>
									<span class="pl20 pr20 grey"></span>
									<a href="#" id="unbindMobile" class="unbind">解除绑定</a>
								</span>
							</if>
						</div>
						<div class="show">
							<div class="ver-info-box">
								<span class="item">短信验证：</span>
								<input type="text" id="bindMobileVerify" name="bindMobileVerify" class="ver-info" placeholder="请输入短信验证码">
							</div>
							<button onclick="bindMobileSubmit()" class="confirm-bind">确认绑定</button>
						</div>
						<!-- 手机号码绑定、解绑 -->
						<!-- 邮箱绑定、解绑 -->
						<div>
							<span class="item bind-email">邮箱：</span>
							<!-- 存在判断 -->
                       		<if condition="$user.email eq null">
								<span>
<!-- 									<span class="pl20 pr20 grey"></span> -->
									<span></span>
									<input type="text" id="bindEmail" name="bindEmail" class="ver-info" placeholder="请输入您的邮箱">
									<a href="#" id="sendEmailMsg" class="unbind">获取邮箱验证码</a>
								</span>
							<else/>
								<span>
									<span id="email" name="email" value="{$user.email}" >{$user.email}</span>
									<span class="pl20 pr20 grey"></span>
									<a href="#" id="unbindEmail" class="unbind">解除绑定</a>
								</span>
							</if>
						</div>
						<div class="show">
							<div class="ver-info-box">
								<span class="item">邮箱验证：</span>
								<input type="text" id="bindEmailVerify" name="bindEmailVerify" class="ver-info" placeholder="请输入邮件验证码">
							</div>
							<button onclick="bindEmailSubmit()" class="confirm-bind">确认绑定</button>
						</div>
						<!-- 邮箱绑定、解绑 -->
					</div>
				</div>
			</div>
		</div>
		<include file="Public:footer" />
	</div>
</body>
<script type="text/javascript" language="javascript" src="__PUBLIC__/js/jquery/jquery-1.9.1.min.js"></script>
<script type="text/javascript">
	//手机解绑
	$('#unbindMobile').click(function(){
		var email = $("#email").html();
		var mobile = $("#mobile").html();
		var url = "{:U('User/unbindMobile')}";
		if (!email) {
			alert("至少要绑定一个 手机 或 邮箱 账户！");
		}
		$.ajax({
			type : "POST",
			data : {mobile:mobile},
			url : url,
			success:function(msg){
				if (msg.staut == 'ok') {
					if (confirm("手机号码解绑成功，请通过邮箱号码登陆")) {
						window.location.href = msg.callback;
					}
				} else if (msg.staut == 'no') {
					alert(msg.info);
				} else {
					alert(msg.mobile);
				}
			},
		})
	})
	//邮箱解绑
	$('#unbindEmail').click(function(){
		var email = $("#email").html();
		var mobile = $("#mobile").html();
		var url = "{:U('User/unbindEmail')}";
		if (!mobile) {
			alert("至少要绑定一个 手机 或 邮箱 账户！");
		}
		$.ajax({
			type : "POST",
			data : {email:email},
			url : url,
			success:function(msg){
				if (msg.staut == 'ok') {
					if (confirm("邮箱解绑成功，请通过邮箱号码登陆")) {
						window.location.href = msg.callback;
					}
				} else if (msg.staut == 'no') {
					alert(msg.info);
				} else {
					alert(msg.email);
				}
			},
		})
	})
	//获取验短信验证码
	$('#sendMobileMsg').click(function(){
		var url = "{:U('User/sendMobileMsg')}";
		var bindMobile=$("#bindMobile").val();
        if (bindMobile == ""){
        	alert("请输入您要绑定的手机号码");
            return false;
        }
		$.ajax({
			type : "POST",
			data : {bindMobile:bindMobile},
			url : url,
			success:function(msg){
				if (msg.staut == 'ok') {
					alert(msg.info);
				} else if (msg.staut == 'no') {
					alert(msg.error);
				} else {
					alert(msg.mobile);
				}
			},
		})
	})
	//获取邮箱验证证码
	$('#sendEmailMsg').click(function(){
		var url = "{:U('User/sendEmailMsg')}";
		var bindEmail=$("#bindEmail").val();
        if (bindEmail == ""){
        	alert("请输入您要绑定的邮箱");
            return false;
        }
		$.ajax({
			type : "POST",
			data : {bindEmail:bindEmail},
			url : url,
			success:function(msg){
				if (msg.staut == 'ok') {
					alert(msg.info);
				} else if (msg.staut == 'no') {
					alert(msg.error);
				} else {
					alert(msg.email);
				}
			},
		})
	})
	//手机号码绑定
	function bindMobileSubmit(){
		var url = "{:U('User/bindMobile')}";
		var bindMobile=$("#bindMobile").val();
		var bindMobileVerify=$("#bindMobileVerify").val();
        if (bindMobile == ""){
        	alert("请输入您要绑定的手机号码");
            return false;
        }
        if (bindMobileVerify == ""){
        	alert("请输入您收到的短信验证码");
            return false;
        }
		$.ajax({
			type : "POST",
			data : {bindMobile:bindMobile,bindMobileVerify:bindMobileVerify},
			url : url,
			success:function(msg){
				if (msg.staut == 'ok') {
					if (confirm("手机号码绑定成功，可以通过新的手机号码登陆")) {
						window.location.href = msg.callback;
					}
				} else if (msg.staut == 'no') {
					alert(msg.info);
				} else {
					alert(msg.mobile);
				}
			},
		})
	}
	//邮箱绑定
	function bindEmailSubmit(){
		var url = "{:U('User/bindEmail')}";
		var bindEmail=$("#bindEmail").val();
		var bindEmailVerify=$("#bindEmailVerify").val();
        if (bindEmail == ""){
        	alert("请输入您要绑定的邮箱");
            return false;
        }
        if (bindEmailVerify == ""){
        	alert("请输入您收到的邮箱验证码");
            return false;
        }
		$.ajax({
			type : "POST",
			data : {bindEmail:bindEmail,bindEmailVerify:bindEmailVerify},
			url : url,
			success:function(msg){
				if (msg.staut == 'ok') {
					if (confirm("邮箱绑定成功，可以通过新的邮箱登陆")) {
						window.location.href = msg.callback;
					}
				} else if (msg.staut == 'no') {
					alert(msg.info);
				} else {
					alert(msg.mobile);
				}
			},
		})
	}
</script>
</html>
