<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <title>五行财商研究中心</title>
	<load href='__PUBLIC__/css/normalize.css' />
	<load href='__PUBLIC__/css/base.css' />
	<load href='__PUBLIC__/css/info.css' />
</head>
<body>
	<div class="wrap">
	<include file="Public:header" />
		<div class="content">
			<div class="content-main">
				<div class="content-main-nav">
					<div class="ml5 mr5">
						<p>账号设置</p>
						<ul>
							<li><a href="{:U('User/personal_info')}">个人信息</a></li>
							<li><a href="{:U('User/account_bind')}">账号绑定</a></li>
							<li class="current"><a href="{:U('User/change_pwd')}">修改密码</a></li>
							<li><a href="{:U('User/test_record')}">测试记录</a></li>
						</ul>
					</div>
				</div>
				<div class="content-main-form">
					<div class="content-main-form-title">
						<p class="fz20">修改密码</p>
					</div>
					<div class="content-main-form-info">
						<!-- <div>
							<span class="item">当前账号：</span><span class="pl5 pr5">13512345678</span>
						</div> -->
                     <form id="updatePwd_form">
						<div>
							<span class="item">原密码：</span>
							<input type="password" id='oldpassword' name='oldpassword' placeholder="请输入原密码">
                            <p style="display:none" id="oldpassword_err" class="error-tip">
							<p class="grey tip-grey">&nbsp;</p>
						</div>
						<div>
							<span class="item">新密码：</span>
							<input type="password" id="password" name="password" placeholder="请输入新密码">
							<p style="display:none" id="password_err" class="error-tip">提示：8位以上，同时包含大小写字母和数字</p>
						</div>
						<div>
							<span class="item">确认密码：</span>
							<input type="password" id="repassword" name="repassword" id="repwd"  placeholder="请再次输入新密码">
							<p style="display:none" id="repassword_err" class="error-tip"></p>
						</div>
						<div>
							<!--<a href="" onclick="setpasswd_submit();return false;"><p class="submit">保存修改</p></a>-->
                        <button onclick="setpasswd_submit()" class="submit">保存修改</button>
						</div>
                        </form>
					</div>
				</div>
			</div>
		</div>
		<include file="Public:footer" />
	</div>
    <script type="text/javascript">
        function setpasswd_submit(){
            $("#updatePwd_form").submit(function(){
                var oldpassword=$("oldpassword").val();
                var passWord=$("#password").val();
                var repassWord=$("#repassword").val();
                if (oldpassword = ""){
                    $("#oldpassword_err").text("原始密码不能为空");
                    $("#password_err").hide();
                    $("#repassword_err").hide();
                    $("#oldpassword_err").show();
                    $("#oldpassword_err").focus();
                }
                if (passWord == "") {
                    $("#password_err").text("请输入密码");
                    $("#oldpassword_err").hide();
                    $("#repassword_err").hide();
                    $("#password_err").show();
                    $("#password_err").focus();
                    return false;
                } else {$("#password_err").hide();}
                if (repassWord == "") {
                    $("#repassword_err").text("请重复密码");
                    $("#oldpassword_err").hide();
                    $("#password_err").hide();
                    $("#repassword_err").show();
                    $("#repassword_err").focus();
                    return false;
                } else {
                    $("#repassword_err").hide();
                    var url = "{:U('User/updatePwd')}";
                    var data = $('#register_1').serialize();
                    $.ajax({
                        type : "POST",
                        data : data,
                        url : url,
                        success:function(msg){
                            if (msg.info == 'ok') {
                                //密码设置成功
                                window.location.href = msg.callback;
                            } else {
                                for (err_info in msg){
                                    switch(err_info){
                                        case "password":
                                            $("#password_err").text(msg.password);
                                            $("#password_err").show();
                                            $("#password_err").focus();
                                            break;
                                        case "repassword":
                                            $("#repassword_err").text(msg.repassword);
                                            $("#repassword_err").show();
                                            $("#password_err").focus();
                                            break;
                                        default:
                                            break
                                    }
                                }
                            }
                        },
                    })
                }
                return false;
            })
        }
 </script>
</body>
<load href="__PUBLIC__/Js/jquery-3.1.0.min.js" />
</html>
