<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>个人信息</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/base.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/login.css">
    <script type="text/javascript" language="javascript" src="__PUBLIC__/js/jquery/jquery-1.9.1.min.js">
    </script>
</head>
<body>
    <div class="wrap">
        <div class="bg-blue"></div>
        <div class="login-box">
            <div class="login-header">
                <img class="inline-block" src="" alt="logo">
            </div>
            <div class="login-form">
                <div class="login-title"><span>请完善个人信息</span></div>
                <form id="reg1" class="pt20" method="post" action="{:U('User/completion')}">
                    <div class="form-box">
                        <input type="text" name="name" class="account text" placeholder="请输入您的真实姓名">
                    </div>
                    <div class="form-box">
                        <label class="pl10 pr10 cur-pointer"><input type="radio" name="type" class="vam"><span class="pl5">男</span></label>
                        <label class="pl10 pr10 cur-pointer"><input type="radio" name="type" class="vam"><span class="pl5">女</span></label>
                    </div>
                     <div class="form-box">
                        <input type="text" name="work_id" class="account text" placeholder="您的职业">
                    </div>
                    <div class="form-box">
                         <a href="#">绑定邮箱</a>
                    </div>
               		<button onclick="submit()" class="btn-login">完成</button>
                </form>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" language="javascript">
        /**
        *提交注册用户表单
        */
        function submit(){
        		$('reg1').submit();
	}
</script>
</html>