<html>
    <body>
    <h2>完善资料</h2>
    <form action="/home/Index/login">
        <p><span>{$value}：</span><input type="text" name="userName"></p>
        <p><span>验证码 ：</span><img src="/home/Index/verify" title="点击发送" id="logincodeimg" onclick="reloadcode('logincodeimg')" align="absmiddle"/></p>
        <p><span>验证码 ：</span><input type="text" name="code"></p>
        <input type="submit" value="提交">
		<script>
		/**
        *刷新验证码
        */
		function reloadcode(id)
		{
		 var yucodeurl = document.getElementById(id).src;
		 document.getElementById(id).src = yucodeurl +'?'+ Math.random();
		}
		</script>
    </form>
    </body>
</html>
