<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <title>五行财商研究中心</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/bootstrap/css/bootstrap-datetimepicker.min.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/base.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/info.css">
</head>
<body>
	<div class="wrap">
	<include file="Public:header" />
		<div class="content">
			<div class="content-main">
				<div class="content-main-nav">
					<div class="ml5 mr5">
						<p>账号设置</p>
						<ul>
							<li class="current"><a href="{:U('User/personal_info')}">个人信息</a></li>
							<li><a href="{:U('User/account_bind')}">账号绑定</a></li>
							<li><a href="{:U('User/change_pwd')}">修改密码</a></li>
							<li><a href="{:U('User/test_record')}">测试记录</a></li>
						</ul>
					</div>
				</div>
				<div class="content-main-form">
					<div class="content-main-form-title">
						<p class="fz20">个人信息</p>
						<span>为了更好为您服务，请如实填写。个人信息仅作测试使用，我们承诺保证您的信息安全。</span>
					</div>
					<form id="personalInfo_form">
					<div class="content-main-form-info">
						<div>
							<span class="item">姓名：</span>
							<input type="text" name="name" value="{$user.name}" style="width:350px;">
							<p class="tip-green">仅生成报告试用，请放心填写</p>
						</div>
						<div>
							<span class="item">性别：</span>
                            <if condition="$user.sex neq 1">
	                            <label><input type="radio" name="sex" class="pr10"><span class="pl5">男</span></label>
								<label class="pl30"><input type="radio" checked name="sex" class="pr10"><span class="pl5">女</span></label>
                            <else/>
	                            <label><input type="radio"  name="sex" checked class="pr10"><span class="pl5">男</span></label>
								<label class="pl30"><input type="radio" name="sex" class="pr10"><span class="pl5">女</span></label>
                            </if>
						</div>
						<div>
							<span class="item">生日：</span>
							<input  id="datetimepicker" name="datetimepicker" value="{$user.birth}" data-date-format="yyyy-mm-dd" />
							<!-- value="{$user.birth} -->
							<p class="grey tip-grey">为了准确测试，请如实填写</p>
						</div>
						<!-- ///////////职业////////// -->
						<div>
							<span class="item">职业：</span>
							<switch name="user.work_id">
							    <case value="1">
									<select id="work_id1" name="work_id1" class="pl5 pr5" style="width:425px;border-bottom:1px solid #eee;" >
										<option value="1" selected = "selected">医生</option>
										<option value="2">程序员</option>
										<option value="3">教师</option>
									</select>
							    </case>
							    <case value="2">
							    	<select id="work_id2" name="work_id2" class="pl5 pr5" style="width:425px;border-bottom:1px solid #eee;" >
										<option value="1">医生</option>
										<option value="2" selected = "selected">程序员</option>
										<option value="3">教师</option>
									</select>
							    </case>
							    <case value="3">
							    	<select id="work_id3" name="work_id3" class="pl5 pr5" style="width:425px;border-bottom:1px solid #eee;" >
										<option value="1">医生</option>
										<option value="2">程序员</option>
										<option value="3" selected = "selected">教师</option>
									</select>
							    </case>
							    <default />--
							</switch>
							<p class="grey tip-grey">个人职业信息</p>
						</div>
						<!-- ///////////职业////////// -->
                        <if condition="$team eq null">
						<div>
							<span class="item">团体：</span>
							<input type="text" name=""  style="width:200px;border-bottom:1px solid #eaefee;"><input type="text" name="name" placeholder="请输入邀请码" class="invitation-code">
							<p class="tip-spec">为了准确测试，请如实填写 <span class="tip-inline">请向管理员询问</span></p>
						</div>
						</if>
						<!-- ///////////来源地////////// -->
						<div>
							<span class="item">来源地：</span>
                                <select class="pl5 pr5" style="width:425px;">
                                	<volist name="config.from" id="vo">
									<if condition="$user['from_add'] eq $vo['key']">
										<option value="{$vo.key}" selected="true">{$vo.value}</option>
									<else/>
										<option value="{$vo.key}">{$vo.value}</option>
									</if>
									</volist>
                            	</select>
							<p class="grey tip-grey">县级以上城市、农村</p>
						</div>
						<!-- ///////////来源地////////// -->
						<div>
							<span class="item">微信号：</span>
							<input type="text" id="weixin" name="weixin" value="{$user.weixin}" placeholder="请输入微信号" style="width:425px;">
							<p class="grey tip-grey">咨询时，获得优先注册和服务</p>
						</div>
						<div>
							<span class="item">QQ：</span>
							<input type="text" id="qq" name="qq" value="{$user.qq}" placeholder="请输入QQ号" style="width:425px;">
							<p class="grey tip-grey">咨询时，获得优先注册和服务</p>
						</div>
                        <if condition="$team neq null">
	                        <div>
	                            <span class="item">团体名称：</span>
								<input type="text" id="team_name" name="team_name" value="{$team.team_name}" placeholder="" style="width:425px;">
								<p class="grey tip-grey">公司名，组织名</p>
	                        </div>
	                        <!-- ///////////团体性质////////// -->
	                        <div>
		                        <span class="item">团体性质：</span>
									<switch name="team.nature" >
									<case value="0">--</case>
										<select id="team_nature0" name="team_nature0" class="pl5 pr5" style="width:425px;border-bottom:1px solid #eee;">
											<option value="0" selected = "selected">--</option>
											<option value="1">公司</option>
											<option value="2">学校</option>
											<option value="3">社团</option>
										</select>
									<case value="1">
										<select id="team_nature1" name="team_nature1" class="pl5 pr5" style="width:425px;border-bottom:1px solid #eee;">
											<option value="0">--</option>
											<option value="1" selected = "selected">公司</option>
											<option value="2">学校</option>
											<option value="3">社团</option>
										</select>
									</case>
									<case value="2">
										<select id="team_nature2" name="team_nature2" class="pl5 pr5" style="width:425px;border-bottom:1px solid #eee;">
											<option value="0">--</option>
											<option value="1">公司</option>
											<option value="2" selected = "selected">学校</option>
											<option value="3">社团</option>
										</select>
									</case>
									<case value="3">
										<select id="team_nature3" name="team_nature3" class="pl5 pr5" style="width:425px;border-bottom:1px solid #eee;">
											<option value="0">--</option>
											<option value="1">公司</option>
											<option value="2">学校</option>
											<option value="3" selected = "selected">社团</option>
										</select>
									</case>
									<default />--
									</switch>
									<p class="grey tip-grey">所在行业行政</p>
	                        </div>
	                        <!-- ///////////团体性质////////// -->
	                        <!-- ///////////行业属性：////////// -->
	                        <div>
	                            <span class="item">行业属性：</span>
	                            <switch name="team.attribute">
	                            <case value="0">
									<select id="team_attribute0" name="team_attribute0" class="pl5 pr5" style="width:425px;border-bottom:1px solid #eee;">
										<option value="0" selected = "selected">--</option>
										<option value="1">金融</option>
										<option value="2">IT</option>
										<option value="3">建筑</option>
									</select>
	                            </case>
	                            <case value="1">
									<select id="team_attribute1" name="team_attribute1" class="pl5 pr5" style="width:425px;border-bottom:1px solid #eee;">
										<option value="0" >--</option>
										<option value="1" selected = "selected">金融</option>
										<option value="2">IT</option>
										<option value="3">建筑</option>
									</select>
	                            </case>
	                            <case value="2">
									<select id="team_attribute2" name="team_attribute2" class="pl5 pr5" style="width:425px;border-bottom:1px solid #eee;">
										<option value="0" >--</option>
										<option value="1" >金融</option>
										<option value="2" selected = "selected">IT</option>
										<option value="3">建筑</option>
									</select>
	                            </case>
	                            <case value="3">
									<select id="team_attribute3" name="team_attribute3" class="pl5 pr5" style="width:425px;border-bottom:1px solid #eee;">
										<option value="0" >--</option>
										<option value="1" >金融</option>
										<option value="2" >IT</option>
										<option value="3" selected = "selected">建筑</option>
									</select>
	                            </case>
	                            <default />--
	                            </switch>
	                            <p class="grey tip-grey">所在行业属性</p>
	                        </div>
	                        <!-- ///////////行业属性：////////// -->
	                        <!-- ///////////行业属性测试：////////// -->
	                        <!-- ///////////行业属性测试：////////// -->
	                        <div>
	                            <span class="item">团体邀请码：</span>
								<input readonly="readonly" type="text" name="team_code" name="team_code" value="{$team.code}" placeholder="" style="width:425px;">
								<p class="grey tip-grey">可以分享给团队，加入</p>
	                        </div>
                        </if>
						<div>
							<p class="submit">完成</p>
						</div>
						 </form>
					</div>
				</div>
			</div>
		</div>
		<include file="Public:footer" />
	</div>
</body>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/info.css">
    <load href="__PUBLIC__/js/jquery/jquery-1.9.1.min.js" />
	<load href="__PUBLIC__/bootstrap/js/bootstrap.min.js" />
	<load href="__PUBLIC__/bootstrap/js/bootstrap-datetimepicker.min.js" />
	<load href="__PUBLIC__/bootstrap/js/bootstrap-datetimepicker.zh-CN.js" />
	<script type="text/javascript">
		$('#datetimepicker').datetimepicker({
			language: "zh-CN",
			minView: '2',
			bootcssVer: 3
		});
	</script>
</html>
