<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>注册</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/base.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/login.css">
	<load href='__PUBLIC__/css/home.css' />
</head>
<body>
	<div class="wrap">
		<div class="bg-blue"></div>
		<div class="login-box">
			<div class="login-header">
				<img class="fl" src="__PUBLIC__/img/log_2.png" alt="logo">
				<div class="fl box-title">
					<h1 class="fz-20 fw-500 fff">西南财经大学五行财商研究中心</h1>
					<h3 class="fz-14 fw-100 fff">财商测评系统（v1.0）</h3>
				</div>
			</div>
			<div class="login-form">
				<div class="register-title">
				<if condition="$Think.session.user_id neq 0 ">
				<span>欢迎您，{$Think.session.user_account}</span>
				</if>
				<p class="tip-green">注册成功，为了您的账户安全，请设置密码</p>
				</div>
				<div class="login-content">
					<form id="register_1" class="pt20" method="post" action="{:U('User/register_2')}">
						<div class="form-box error">
							<input id="password" type="password" name="password" class="pwd text" placeholder="请输入新密码" style="width:360px;">
							<p id="password_info" class="pt5">提示：8位，同时包含大小写字母和数字</p>
							<p style="display:none" id="password_err" class="error-tip"></p>
						</div>
						<div class="form-box error">
							<input id="repassword" type="password" name="repassword" class="pwd text" placeholder="请再次输入新密码" style="width:360px;">
							<p style="display:none" id="repassword_err" class="error-tip"></p>
						</div>
					<button onclick="setpasswd_submit()" class="btn-login">下一步</button>
					</form>
					 <script type="text/javascript">
					 	function setpasswd_submit(){
					 		$("#register_1").submit(function(){
						    var passWord=$("#password").val();
						    var repassWord=$("#repassword").val();
						    if (passWord == "") {
						    	$("#password_err").text("请输入密码");
						    	$("#password_info").hide();
						    	$("#password_err").show();
						    	$("#password_err").focus();
						    	return false;
						    } else {$("#password_err").hide();}
						    if (repassWord == "") {
						    	$("#repassword_err").text("请重复密码");
						    	$("#repassword_err").show();
						    	$("#repassword_err").focus();
						    	return false;
						    } else {
						    	$("#repassword_err").hide();
						    	var url = "{:U('User/registerTwo')}";
								var data = $('#register_1').serialize();
								$.ajax({
									type : "POST",
									data : data,
									url : url,
									success:function(msg){
										if (msg.info == 'ok') {
											//密码设置成功
											window.location.href = msg.callback;
										} else {
											// var d=eval('('+d+')');//json转成object。
											for (err_info in msg){
												switch(err_info){
													case "password":
							   						 	$("#password_err").text(msg.password);
												    	$("#password_err").show();
												    	$("#password_err").focus();
						   						 		break;
						   						 	case "repassword":
							   						 	$("#repassword_err").text(msg.repassword);
												    	$("#repassword_err").show();
												    	$("#password_err").focus();
						   						 		break;
						   						 	default:
						   						 		break
												}
											}
										}
									},
								})
						    }
					 			return false;
					 		})
					 	}
					 </script>
					<p class="step">
						<img src="__PUBLIC__/img/step_1.png" alt="" />
					</p>
				</div>
			</div>
		</div>
	</div>
</body>
	<load href="__PUBLIC__/Js/jquery-3.1.0.min.js" />
</html>
