<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>注册</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/base.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/info.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/login.css">
</head>
<body>
	<div class="wrap">
		<div class="bg-blue"></div>
		<div class="register-box">
			<div class="login-header">
				<div class="login-header-2-box">
					<img class="fl" src="__PUBLIC__/img/log_2.png" alt="logo">
					<div class="fl box-title">
						<h1 class="fz-20 fw-500 fff">西南财经大学五行财商研究中心</h1>
						<h3 class="fz-14 fw-100 fff">财商测评系统（v1.0）</h3>
					</div>
				</div>
			</div>
			<div class="register-form-2" style="border-bottom: none;">
				<div class="register-title-2"><span>个人信息</span><p>为了更好为您服务，请如是填写以下。个人信息仅做测试使用，我们承诺保证您的信息安全</p></div>
				<form class="content-main-form">
					<div class="content-main-form-info">
						<div>
							<span class="item">姓名：</span>
							<input type="text" name="" placeholder="请输入你的真实姓名" style="width:350px;">
							<p class="tip-green">仅生成报告试用，请放心填写</p>
						</div>
						<div>
							<span class="item">性别：</span>
							<label><input type="radio" name="sex" class="pr10"><span class="pl5">男</span></label>
							<label class="pl30"><input type="radio" name="sex" class="pr10"><span class="pl5">女</span></label>
						</div>
						<div>
							<span class="item">生日：</span>
							<select class="pl5 pr5">
								<option>---</option>
								<option>1990</option>
								<option>1991</option>
								<option>1992</option>
							</select>
							<span class="pl5 pr5">年</span>
							<select class="pl5 pr5">
								<option>---</option>
								<option>1</option>
								<option>2</option>
								<option>3</option>
							</select>
							<span class="pl5 pr5">月</span>
							<select class="pl5 pr5">
								<option>---</option>
								<option>1</option>
								<option>2</option>
								<option>3</option>
							</select>
							<span class="pl5 pr5">日</span>
							<p class="grey tip-grey">为了准确测试，请如实填写</p>
						</div>
						<div>
							<span class="item">职业：</span>
							<select class="pl5 pr5" style="width:425px;">
								<option>1</option>
								<option>2</option>
								<option>3</option>
							</select>
							<p class="grey tip-grey">&nbsp;</p>
						</div>
						<div>
							<span class="item">团体：</span>
							<input type="text" name=""  style="width:200px;border-bottom:1px solid #eaefee;"><input type="text" name="name" placeholder="请输入邀请码" class="invitation-code">
							<p class="tip-spec">为了准确测试，请如实填写 <span class="tip-inline">请向管理员询问</span></p>
						</div>
						<div>
							<span class="item">来源地：</span>
							<select class="pl5 pr5" style="width:425px;">
								<option>1</option>
								<option>2</option>
								<option>3</option>
							</select>
							<p class="grey tip-grey">县级以上城市、农村</p>
						</div>
						<div>
							<span class="item">微信号：</span>
							<input type="text" name="" placeholder="请输入微信号" style="width:425px;">
							<p class="grey tip-grey">咨询时，获得优先注册和服务</p>
						</div>
						<div>
							<span class="item">QQ：</span>
							<input type="text" name="" placeholder="请输入QQ号" style="width:425px;">
							<p class="grey tip-grey">咨询时，获得优先注册和服务</p>
						</div>
					</div>
				</form>
			</div>
			<div class="content-split"></div>
			<div class="register-form-2" style="border: none;">
				<div class="register-title-2"><span>团体信息</span></div>
				<form class="content-main-form" style="min-height: 0;">
					<div class="content-main-form-info">
						<div>
							<span class="item">团体名称：</span>
							<input type="text" name="" placeholder="请输入团体名称" style="width:425px;">
						</div>
						<div>
							<span class="item">团体性质：</span>
							<select class="pl5 pr5" style="width:425px;border-bottom:1px solid #eee;">
								<option>1</option>
								<option>2</option>
								<option>3</option>
							</select>
						</div>
						<div>
							<span class="item">团体属性：</span>
							<select class="pl5 pr5" style="width:425px;border-bottom:1px solid #eee;">
								<option>1</option>
								<option>2</option>
								<option>3</option>
							</select>
						</div>
					</div>
				</form>
			</div>
			<div class="content-split"></div>
			<div class="register-form-2" style="border-top: none;">
				<div class="register-title-2"><span>账号绑定</span></div>
				<form class="content-main-form" style="min-height: 0;">
					<div class="content-main-form-info">
						<div>
							<span class="item bind-phone">手机号：</span>
							<span><span>13512345678</span><span class="pl20 pr20 grey">已绑定</span><a href="#" class="unbind">解除绑定</a></span>
						</div>
						<div>
							<span class="item bind-email">邮箱：</span>
							<span><span>abc@163.com</span><span class="pl20 pr20 grey">已绑定</span><a href="#" class="unbind">解除绑定</a></span>
						</div>
						<div>
							<p id="group_button" class="submit">完成</p>
						</div>
						<p class="step">
							<img src="__PUBLIC__/img/step_2.png" alt="" />
						</p>
					</div>
				</form>
				<script>
					$('#group_button').on('click',function(){
						$('#form1').submit()
					});
				</script>
			</div>
		</div>
	</div>
</body>
</html>
