<div class="footer">
    <div class="wrap-content">
        <div class="wrap-content">
            <div class="wrap-header-content">
                    <img class="inline-block vam" src="__PUBLIC__/img/erweima.png" alt="logo">
                    <div class="inline-block vam">
                        <P class="fz-14 fw-500 grey-deep">成都财情科技有限公司 版权所有</P>
                        <P class="fz-14 fw-100 grey">电话02887095141</P>
                        <P class="fz-14 fw-100 grey">微信号：成都财情（FQEQTECH）</P>
                    </div>
                    <div class="fr link vam">
                        <a href="#" class="fz-14 pl10 pr10 c999">蜀ICP备1201424号|工商注册号510109000090786</a>
                    </div>
            </div>
        </div>
    </div>
</div>
