<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <title>五行财商研究中心</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/base.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/guanlishiti.css">
</head>
<body>
	<div class="wrap">
		<include file="Index:header" />
    <form method="post" action="{:U('Exam/readExcel')}" enctype="multipart/form-data">
          
          <h3>批量导入试题：</h3>
          <label>适用年龄段：</label>
          <select class="input-score" name="level">
              <volist name="level" id="vo">
              <option value="{$vo.level_id}">{$vo.min_age}-{$vo.max_age}</option>
              </volist>
            </select>
          <input  type="file" name="file_stu" />
          <input type="submit"  value="导入" />
    </form>
		<div class="content">
			<div class="content-main">
        <div class="deep-grey">
          <p class="content-main-title">管理试题</p>
          <ul class="options">
            <from>
            <li>全部试题</li>
            <li>保钱</li>
            <li>花钱</li>
            <li>借钱</li>
            <li>投钱</li>
            <li>挣钱</li>
            <li>
              <select class="" name="">
                <option value="option">难度系数</option>
              </select>
            </li>
            <li>
              <select class="" name="">
                <option value="option">年龄段</option>
              </select>
            </li>
            <li style="padding-right:0;color:#eee;">|</li>
            <li>
              <input type="text" name="" value="" placeholder="输入查询信息">
              <input type="submit" value="查询">
            </li>
            </from>
            <li><a data-type="button" href="{:U('Exam/addExam')}">添加试题</a></li>
          </ul>
			</div>
      <table cellspacing="0" cellpadding="0">
        <tr>
          <th width="50">序号</th>
          <th width="80">适用年龄</th>
          <th width="50">分类</th>
          <th width="50">难度</th>
          <th width="100">适用农村/城市</th>
          <th width="300">题目内容</th>
          <th>答案</th>
          <th width="150">操作</th>
        </tr>
        <volist name="list" id="vo" key="key">
        
        <tr>
          <td>{$key}</td>
          <td>{$level[$vo['level_id']]['min_age']}-{$level[$vo['level_id']]['max_age']}</td>
          <td>{$classify[$vo[classify_id]]['classify_name']}</td>
          <td>{$vo.difficulty}</td>
          <td>城市/农村</td>
          <td>
            <span>{$vo.question}</span><br/>
            <!-- <p>选择图片：<input type="file" name="file-img" value=""></p>
            <p>选择视频：<input type="file" name="file-video" value=""></p>
            <p>选择音频：<input type="file" name="file-audio" value="选择音频"></p> -->
            <if condition="$vo.type == 1">
              <img src="{$vo.file}" width="50">
            </if>
            <if condition="$vo.type == 3">
              <video src="{$vo.file}" controls="controls">
              </video>
            </if>
            <if condition="$vo.type == 2">
              <audio src="{$vo.file}" preload="auto" controls></audio>
            </if>
          </td>
          <td>
            <ul>
            <volist name="vo['answers']" id="ans">
              <li>
                <p class="item">{$ans.answer}</p>
                <p class="score">{$ans.score}分</p>
                <p class="review">{$incl[$ans['inclination_id']]['inclination']}</p>
              </li>
              </volist>
            </ul>
          </td>
          <td>
            <a href="#">修改</a>
            <a href="{:U('Exam/del',array('id'=>$vo['question_id']))}">删除</a>
          </td>
        </tr>
        
      </volist>
      </table>
		</div>
	</div>
  <div class="pages">{$page}</div>
</body>
</html>
