<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <title>五行财商研究中心</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/base.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/guanlishiti.css">
</head>
<body>
	<div class="wrap">
		<div class="header">
			<div class="wrap-content">
				<div class="wrap-header-content">
					<img class="inline-block" src="" alt="logo">
					<div class="inline-block">
						<h1 class="fz-20 fw-500 grey-deep">西南财经大学五行财商研究中心</h1>
						<h3 class="fz-14 fw-100 grey">财商测评系统（v1.0）</h3>
					</div>
					<div class="fr link">
						<a href="#" class="fz-14 pl10 pr10 grey-deep">用户管理</a>
            <a href="#" class="fz-14 pl10 pr10 grey-deep">单位管理</a>
            <a href="#" class="fz-14 pl10 pr10 grey-deep">试题管理</a>
            <a href="#" class="fz-14 pl10 pr10 grey-deep">测试订单</a>
						<a href="login.html" class="ml5 mr5 pl10 pr10 hover">登陆</a>
					</div>
				</div>
			</div>
		</div>
		<div class="content">
			<div class="content-main">
        <div class="deep-grey">
          <p class="content-main-title">管理试题</p>
          <ul class="options">
            <li>全部试题</li>
            <li>保钱（B）</li>
            <li>花钱（H）</li>
            <li>借钱（J）</li>
            <li>投钱（T）</li>
            <li>挣钱（Z）</li>
            <li>
              <select class="" name="">
                <option value="option">难度系数</option>
              </select>
            </li>
            <li>
              <select class="" name="">
                <option value="option">年龄段</option>
              </select>
            </li>
            <li>
              <select class="" name="">
                <option value="option">团体名称</option>
              </select>
            </li>
            <li style="padding-right:0;color:#eee;">|</li>
            <li>
              <input type="text" name="" value="" placeholder="输入查询信息">
            </li>
            <li><a data-type="button" href="tianjiashiti.html">添加试题</a></li>
          </ul>
			</div>
      <table cellspacing="0" cellpadding="0">
        <tr>
          <th width="50">序号</th>
          <th width="80">适用年龄</th>
          <th width="50">分类</th>
          <th width="50">难度</th>
          <th width="100">适用农村/城市</th>
          <th width="300">题目内容</th>
          <th>答案</th>
          <th width="150">操作</th>
        </tr>
        <volist name="list" id="vo" key="key">
        
        <tr>
          <td>{$key}</td>
          <td>8</td>
          <td>B1</td>
          <td>5</td>
          <td>城市/农村</td>
          <td>
            <span>{$vo.question}</span>
            <p>选择图片：<input type="file" name="file-img" value=""></p>
            <p>选择视频：<input type="file" name="file-video" value=""></p>
            <p>选择音频：<input type="file" name="file-audio" value="选择音频"></p>
          </td>
          <td>
            <ul>
            <volist name="vo['answers']" id="ans">
              <li>
                <p class="item">{$ans.answer}</p>
                <p class="score">{$ans.score}分</p>
                <p class="review">{$incl[$ans['inclination_id']]['inclination']}</p>
              </li>
              </volist>
            </ul>
          </td>
          <td>
            <a href="#">修改</a>
            <a href="#">删除</a>
          </td>
        </tr>
        
      </volist>
      </table>
		</div>
	</div>
  <div class="pages">{$page}</div>
</body>
</html>
