<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <title>五行财商研究中心</title>
    <link rel="stylesheet" type="text/css" href="../css/normalize.css">
	<link rel="stylesheet" type="text/css" href="../css/base.css">
	<link rel="stylesheet" type="text/css" href="../css/tianjiashiti.css">
</head>
<body>
	<div class="wrap">
		<div class="header">
			<div class="wrap-content">
				<div class="wrap-header-content">
					<img class="inline-block" src="" alt="logo">
					<div class="inline-block">
						<h1 class="fz-20 fw-500 grey-deep">西南财经大学五行财商研究中心</h1>
						<h3 class="fz-14 fw-100 grey">财商测评系统（v1.0）</h3>
					</div>
					<div class="fr link">
						<a href="#" class="fz-14 pl10 pr10 grey-deep">用户管理</a>
            <a href="#" class="fz-14 pl10 pr10 grey-deep">单位管理</a>
            <a href="#" class="fz-14 pl10 pr10 grey-deep">试题管理</a>
            <a href="#" class="fz-14 pl10 pr10 grey-deep">测试订单</a>
						<a href="login.html" class="ml5 mr5 pl10 pr10 hover">登陆</a>
					</div>
				</div>
			</div>
		</div>
		<div class="content">
			<div class="content-main">
        <div class="add-topics deep-grey">
          <p class="fz20 pt30 pb30">添加试题</p>
          <p><span class="pl20 fz16 grey-deep">题目内容：</span><input type="text" name="name" value="" placeholder="请输题目内容" class="input-item"></p>
          <ul>
            <li>
							<span class="pl67 fz16">A：</span>
							<input type="text" name="name" value="" placeholder="请输选项内容" class="input-item">
							<input type="text" name="name" value="" placeholder="请输选项说明" class="input-desc">
							<select class="input-score" name="">
								<option value="option">设置得分</option>
							</select>
						</li>
						<li>
							<span class="pl67 fz16">B：</span>
							<input type="text" name="name" value="" placeholder="请输选项内容" class="input-item">
							<input type="text" name="name" value="" placeholder="请输选项说明" class="input-desc">
							<select class="input-score" name="">
								<option value="option">设置得分</option>
							</select>
						</li>
						<li>
							<span class="pl67 fz16">C：</span>
							<input type="text" name="name" value="" placeholder="请输选项内容" class="input-item">
							<input type="text" name="name" value="" placeholder="请输选项说明" class="input-desc">
							<select class="input-score" name="">
								<option value="option">设置得分</option>
							</select>
						</li>
						<li>
							<span class="pl67 fz16">D：</span>
							<input type="text" name="name" value="" placeholder="请输选项内容" class="input-item">
							<input type="text" name="name" value="" placeholder="请输选项说明" class="input-desc">
							<select class="input-score" name="">
								<option value="option">设置得分</option>
							</select>
						</li>
						<li>
							<span class="pl67 fz16">E：</span>
							<input type="text" name="name" value="" placeholder="请输选项内容" class="input-item">
							<input type="text" name="name" value="" placeholder="请输选项说明" class="input-desc">
							<select class="input-score" name="">
								<option value="option">设置得分</option>
							</select>
						</li>
          </ul>
					<p class="set-age"><span class="pl20 fz16 grey-deep">适用年龄：</span><input type="text" name="name" value="" placeholder="设置适用年龄"></p>
					<div class="classification">
						<span class="pl20 fz16 grey-deep">所属分类：</span>
						<ul>
							<li>
								<span class="title">保钱（B）</span>
								<span class="item">风险意识（B1）</span>
								<span class="item">风险测算（B2）</span>
								<span class="item">应对策略（B3）</span>
								<span class="item">保险投入（B4）</span>
								<span class="item">承受能力（B5）</span>
							</li>
							<li>
								<span class="title">花钱（H）</span>
								<span class="item">平衡性（H1）</span>
								<span class="item">合理性（H2）</span>
								<span class="item">人比己（H3）</span>
								<span class="item">规划性（H4）</span>
								<span class="item">长效性（H5）</span>
							</li>
							<li>
								<span class="title">借钱（J）</span>
								<span class="item">融资观念（J1）</span>
								<span class="item">融资用途（J2）</span>
								<span class="item">融资能力（J3）</span>
								<span class="item">信用维护（J4）</span>
								<span class="item">还款保障（J5）</span>
							</li>
							<li>
								<span class="title">投钱（T）</span>
								<span class="item">科学性（T1）</span>
								<span class="item">结构性（T2）</span>
								<span class="item">工具技能（T3）</span>
								<span class="item">盈利性（T4）</span>
								<span class="item">流动性（T5）</span>
							</li>
							<li>
								<span class="title">挣钱（Z）</span>
								<span class="item">理念（Z1）</span>
								<span class="item">结构性（Z2）</span>
								<span class="item">稳定性（Z3）</span>
								<span class="item">发展性（Z4）</span>
								<span class="item">满意程度（Z5）</span>
							</li>
						</ul>
					</div>
					<p class="difficulty"><span class="pl20 fz16 grey-deep">难度系数：</span>
						<select class="input-score" name="">
							<option value="option">设置难度系数</option>
						</select>
					</p>
					<p class="origin">
						<span class="pl20 fz16 grey-deep">来&ensp;源&ensp;地：</span>
						<select class="input-score" name="">
							<option value="option">适用农村/城市</option>
							<option value="option">农村</option>
							<option value="option">城市</option>
						</select>
					</p>
        </div>
				<input type="button" name="name" value="完成">
			</div>
		</div>
	</div>
</body>
</html>
